.pokemon-card {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  p {
    font-size: 24px;
  }

  &__name {
    padding-top: 10%;
    height: 20%;
    text-align: center;
    vertical-align: middle;
  }

  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  &__button-container {
    height: 30%;
    padding-top: 5%;
    text-align: center;
  }

  &__button {
    padding: 10px;
    border: 2px solid black;
    background-color: rgba(255, 222, 0, 0.2);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
  }

  &__button_disabled {
    border: 2px solid gray;
    background-color: lightgray;
    cursor: default;  
  }

} 